/* General Styling */
body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Navigation Menu */
.top-menu {
    background-color: white;
    padding: 15px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.top-menu ul li {
    margin: 0 20px;
}

.top-menu ul li a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.top-menu ul li a:hover {
    background-color: #0077b5;
    color: white;
}

/* Language Switcher Styling */
.language-switcher {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 8px ;
}

.language-switcher img {
    width: 30px; /* Adjust flag size */
    height: 20px;
    margin: 0 5px; /* Space between flags */
    cursor: pointer;
    border: 1px solid #ccc; /* Optional border */
    border-radius: 3px; /* Optional rounded corners */
}


.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.libutton {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 7px;
                  text-align: center;
                  outline: none;
                  text-decoration: none !important;
                  color: #ffffff !important;
                  width: 200px;
                  height: 32px;
                  border-radius: 16px;
                  background-color: #0A66C2;
                  font-family: "SF Pro Text", Helvetica, sans-serif;
                }

.qr-code {
    width: 200px;
    height: 200px;
}

a {
    color: #0073b1;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Responsive Design in small screens*/
@media (max-width: 768px) {
    .container {
        text-align: center;
    }
    .menu-toggle {
        display: none;
    }
}
